@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!Doctype html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<div class="text-center">
    <h1 class="display-4 font-weight-bold"><p class="text-danger">Blood</p> Bank Application</h1>
    <h5 class="text-center"> "Donate And Save Lives"</h5>
</div>
<body>

   

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="~/Images/Donor.jpg" alt="Donor" class="img-fluid" width="300" height="200" style="margin: 30px;">
                <h2> <a href="/Donors/Create" class="brick-link">  Become A Donor </h2></a>
            </div>
            <div class="col-sm-6">
                <img src="~/Images/Recp.jpg" alt="Recpient" class="img-fluid" width="300" height="200" style="margin: 30px;">
                <h2> <a href="/Donors/Index" class="brick-link">  Need A Donor? </h2></a>
            </div>
        </div>
    </div>
</body>
<br /> <br />
<h5 style="margin-bottom: 50px;">
    Donating <span class="text-danger">Blood</span> is a simple act of kindness that can make a big difference in the lives of others. When you give <span class="text-danger">Blood</span>, you’re giving the gift of life to someone in need. Your donation can help a mother bring new life into the world, a child fight against illness, or an accident victim recover from their injuries.

    But the benefits of <span class="text-danger">Blood</span> donation don’t stop there. Giving <span class="text-danger">Blood</span> can also be good for your own health and well-being. It’s a chance to take a break from your busy life and do something meaningful for others. And knowing that you’ve made a difference can bring a sense of joy and fulfillment that’s hard to find anywhere else.

    So if you’re thinking about donating blood, go for it! It’s a small act that can have a big impact.
</h5>
<footer></footer>
</html>